{% extends 'base.html'%}
{% load static%}

{% block content %}
    <section class="relative bg-slate-700">
    <div class="flex-row flex w-full">
            <div class="relative z-10 p-8 flex flex-col justify-center h-full text-white w-6/12">
                <h1 class="text-2xl mb-4 text-center">
                    Bienvenido. Estamos encantados de que entres a conocer nuestro bufete de abogados
                </h1>
                
                <h2 class="text-4xl font-bold mb-4 text-center">
                    Bienvenido a Nuestro Bufete de Abogados
                </h2>
                
                <p class="text-lg max-w-3xl text-center">
                    En nuestro bufete, nos dedicamos a proporcionar servicios legales de alta calidad y personalizados. Con años de experiencia en diversas áreas del derecho, nuestro equipo de abogados altamente calificados está comprometido a defender sus derechos y a encontrar las mejores soluciones para sus problemas legales.
                </p>
                <div class="mt-4 w-full flex justify-evenly">
                <a href="" class="text-white font-bold py-3 px-8 rounded-md bg-slate-800 hover:bg-slate-600 transition-all duration-300">
                    Iniciar Sesión
                </a>
                <a href="" class="text-white font-bold py-3 px-8 rounded-md bg-slate-800 hover:bg-slate-600 transition-all duration-300">
                    Registrarse
                </a>
                </div>
                
            </div>
        <div class=" bg-cover bg-center w-6/12">
            <img class="w-full h-full" src="{% static 'img/lawyer-banner.webp' %}">
        </div>
    </div>
    </section>
{% endblock %}