{% extends 'base.html'%}
{% load static%}

{% block content %}
    <section class="relative bg-slate-700">
    <div class="flex-row flex w-full">
            <div class="relative z-10 p-8 flex flex-col justify-center h-full text-white w-6/12">
                <h1 class="text-2xl mb-4 text-center">
                    Bienvenido. Estamos encantados de que entres a conocer nuestro bufett de abogados
                </h1>
                
                <h2 class="text-4xl font-bold mb-4 text-center">
                    Bienvenido a Nuestro Bufett de Abogados
                </h2>
                
                <p class="text-lg max-w-3xl text-center">
                    En nuestro bufett, nos dedicamos a proporcionar servicios legales de alta calidad y personalizados. Con años de experiencia en diversas áreas del derecho, nuestro equipo de abogados altamente calificados está comprometido a defender sus derechos y a encontrar las mejores soluciones para sus problemas legales.
                </p>
            </div>
        <div class=" bg-cover bg-center w-6/12">
            <img class="w-full h-full" src="{% static 'img/lawyer-banner.webp' %}">
        </div>
    </div>
    </section>
{% endblock %}