{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>

<body class="bg-slate-950 flex flex-col items-center w-full h-screen ">

    <div class="w-9/12 mt-11 rounded-xl overflow-hidden">
        <header class="w-full">
            <nav class=" w-full flex justify-center items-center bg-slate-800">
                <a href="" class="text-white p-5 text-center rounded-3xl ease-in-out duration-300 hover:scale-110 hover:bg-slate-300 hover:text-slate-800">Inicio</a>
                <a href="" class="text-white p-5 text-center rounded-3xl ease-in-out duration-300 hover:scale-110 hover:bg-slate-300 hover:text-slate-800">Registrarse</a>
            </nav>
        </header>

        <main>
            {% block content%} {% endblock %}
        </main>

        <footer class="bg-slate-700 flex flex-col items-center w-full p-11 ">
            <p class="text-white">&copy; 2023 Mi Página Web</p>
        </footer>
    </div>
</body>

</html>