{% extends 'base.html' %} {% load static %} {% block content %}
<section class="relative bg-slate-700 w-full py-8 px-4">
  <div class="flex flex-col w-full items-center content-center">
    <h1 class="text-3xl font-semibold text-white mb-6">Lista de usuarios</h1>
    <div class="w-full overflow-x-auto bg-white rounded-lg shadow-lg">
      <table class="w-full text-left table-auto">
        <thead class="bg-slate-800 text-white">
          <tr>
            <th class="px-4 py-2 font-medium">Nombre</th>
            <th class="px-4 py-2 font-medium">Correo</th>
            <th class="px-4 py-2 font-medium">Dirección</th>
            <th class="px-4 py-2 font-medium">Teléfono</th>
            <th class="px-4 py-2 font-medium">Opciones</th>
          </tr>
        </thead>
        <tbody class="bg-gray-600">
          {% for u in usuarios %}
          <tr class="border-t border-gray-300">
            <td class="px-4 py-3">{{ u.nombre_usuarios }}</td>
            <td class="px-4 py-3">{{ u.correo_usuarios }}</td>
            <td class="px-4 py-3">{{ u.direccion_usuarios }}</td>
            <td class="px-4 py-3">{{ u.telefono_usuarios }}</td>
            <td class="px-4 py-3 flex space-x-2">
              <a
                class="bg-green-600 text-white py-2 px-4 rounded-md hover:bg-green-500 transition-all"
                href="/usuarios/edicion-usuarios/{{ u.correo_usuarios }}"
                >Editar</a
              >
              <a
                class="bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-500 transition-all"
                href="/usuarios/lista-usuarios/eliminar-usuarios/{{u.correo_usuarios}}"
                >Eliminar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

    <style>
      .modal {
        display: none;
      }
      .modal-active {
        display: flex;
      }
    </style>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto p-6">
      <h1 class="text-3xl font-bold mb-4 text-center text-white ">     
        Avance del Caso Judicial
      </h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="bg-green-600 text-white rounded-lg shadow p-6">
          <h2 class="text-xl font-semibold mb-2">
            Caso #123: Robo en la Joyería
          </h2>
          <p class="mb-4">
            El juicio comenzó el 10 de noviembre de 2024. Los testigos han
            presentado pruebas cruciales en el tribunal.
          </p>
          <button
            class="bg-white text-blue-500 py-2 px-4 rounded hover:bg-gray-200"
            onclick="openModal('modal1')"
          >
            Leer más
          </button>
        </div>
        <div class="bg-green-600 text-white rounded-lg shadow p-6">
          <h2 class="text-xl font-semibold mb-2">Caso #124: Fraude Fiscal</h2>
          <p class="mb-4">
            Se han descubierto nuevos documentos que podrían cambiar el rumbo
            del caso. El juez ha solicitado una revisión adicional.
          </p>
          <button
            class="bg-white text-blue-500 py-2 px-4 rounded hover:bg-gray-200"
            onclick="openModal('modal2')"
          >
            Leer más
          </button>
        </div>
        <div class="bg-green-600 text-white rounded-lg shadow p-6">
          <h2 class="text-xl font-semibold mb-2">
            Caso #125: Violación de Patentes
          </h2>
          <p class="mb-4">
            Los abogados de ambas partes han presentado nuevos argumentos, y se
            espera un veredicto para fin de mes.
          </p>
          <button
            class="bg-white text-blue-500 py-2 px-4 rounded hover:bg-gray-200"
            onclick="openModal('modal3')"
          >
            Leer más
          </button>
        </div>
      </div>
    </div>
    <!-- Modales -->
    <div
      id="modal1"
      class="fixed z-10 inset-0 overflow-y-auto modal bg-gray-800 bg-opacity-75"
    >
      <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white p-8 rounded shadow-lg max-w-lg mx-auto">
          <h2 class="text-xl font-semibold mb-4">
            Caso #123: Robo en la Joyería
          </h2>
          <p class="text-gray-600">
            Detalles adicionales sobre el avance del caso de robo en la joyería.
          </p>
          <button
            class="mt-4 bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700"
            onclick="closeModal('modal1')"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
    <div
      id="modal2"
      class="fixed z-10 inset-0 overflow-y-auto modal bg-gray-800 bg-opacity-75"
    >
      <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white p-8 rounded shadow-lg max-w-lg mx-auto">
          <h2 class="text-xl font-semibold mb-4">Caso #124: Fraude Fiscal</h2>
          <p class="text-gray-600">
            Detalles adicionales sobre el caso de fraude fiscal.
          </p>
          <button
            class="mt-4 bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700"
            onclick="closeModal('modal2')"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
    <div
      id="modal3"
      class="fixed z-10 inset-0 overflow-y-auto modal bg-gray-800 bg-opacity-75"
    >
      <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white p-8 rounded shadow-lg max-w-lg mx-auto">
          <h2 class="text-xl font-semibold mb-4">
            Caso #125: Violación de Patentes
          </h2>
          <p class="text-gray-600">
            Detalles adicionales sobre el caso de violación de patentes.
          </p>
          <button
            class="mt-4 bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700"
            onclick="closeModal('modal3')"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
    <script>
      function openModal(modalId) {
        document.getElementById(modalId).classList.add("modal-active");
      }
      function closeModal(modalId) {
        document.getElementById(modalId).classList.remove("modal-active");
      }
    </script>
    {% endblock %}
  </body>
</html>
